<u>Infrastructure</u>

• Advanced manufacturing unit spread over an area of  36000  Sq. Mtr,  having 4 Nos.  manufacturing Bays equipped with specialized sophisticated machines .
• Bay- 1 Aluminium Cryocans (1 Litre to 55 Litres capacity)
• Bay -2  Small size Industrial Cryogenic Vessels (110 Litres to 1000 Litres capacity)
• Bay-3 Medium and large size Cryogenic vessel ( 3000 Litre to 40000 Litres capacity)
• Bay- 4 Large & Heavy  pressure vessels,Lube equipments and Aviation equipments.
• There are dedicated facility in above  bays  for manufacturing Carbon Steel and Stainless Steel separately.

